
*{
	box-sizing:border-box;
	table-layout:auto;
	
}


img{
	max-width: 100px;
}

.borders{
	border:5px solid #bebebe;
	border-radius: 0.7em;
}

input[type=text]{
}


.Search{
}


.FoundImages{
	
}


.FoundText{
	
}


.log{
	border:5px solid #ffffff;
	
}



